%h1(class="title")
  %center 出席システムへようこそ
%table(align="center")
  %tr(class="buttons")

    %td
      -# %div(class="TeachersButtonBox")
        %a(class="TeachersButton"){:href =>"/teacher/login"}teacher
      .teacher-button-box
        = link_to 'teacher', teacher_login_path, class: "teacher-button"

    %td
      -#%div(class="StudentsButtonBox")
        %a(class="StudentsButton"){:href =>"ここにpath"} student
      .student-button-box
        = link_to 'student',students_login_path,class: "student-button"
