.index-page-name-space
  %center.index-page-name 打刻管理ページ(一覧)

.make-space
.index-teachers-name-space
  %center.index-teachers-name="#{current_teacher.course} 担当学生一覧"

= render 'list_students', students: @students,class:"index-student-name"

= link_to '教員画面トップへ', teacher_path(current_teacher),class:"index-back-to-top"
