.new-title-space
  %center(class="title") 学生画面

%h2(class="print-name-box")
  %center #{current_student.name} さん

.main-text
  直近5日間までの出席状況です。
  確認後はログアウトを忘れずに行なってください。

= render 'list_attendance', timecards: current_student.timecards.last(5)

.logout-button-box
  = link_to 'ログアウト', student_logout_path,class:"logout-button", method: :delete
