%h1
  %center 学生画面

%h2
  %center #{current_student.name} さん

%p
  %center 直近5日間までの出席状況です。
%p
  %center 確認後はログアウトを忘れずに行なってください。

= render 'list_attendance', timecards: current_student.timecards.last(5)

%center= link_to 'ログアウト', student_logout_path, method: :delete
