%h1 タイムカード週次報告
%hr
%h2 #{@teacher.name}先生 担当クラス : #{@teacher.course}

%table
  %tr
    %th 氏名
    %th 月曜日
    %th 火曜日
    %th 水曜日
    %th 木曜日
    %th 金曜日

  - @students.each do |student|
    %tr
      %td= student.name
      - weekly_timecards = student.timecards.last(5)
      - 5.times do |i|
        - day_timecard = weekly_timecards.find { |t| t.created_at.wday == (i + 1) }
        %td= day_timecard ? day_timecard.puts_status : '未登録'
