.new-title-space
  %center 教員ヘルプページ

.hidden-box
  %label(for="label1") クゥリックで表示
  %input#label1(type="checkbox")
  .hidden-show
    %p 消える鵜

= link_to '教員トップページへ', current_teacher,class:"info-back-to-top"

-# このページへのリンク例
-# = link_to '教員ヘルプページ', teacher_info_path
