%h1
  %center 教員管理画面

%h2
  %center #{current_teacher.name} 先生

%center= link_to '打刻管理ページ', timecards_path
%center= link_to '学生アカウント作成', students_new_path

%center= link_to 'ログアウト', teacher_logout_path, method: :delete
