%h1(class="title")
  %center 教員管理画面

.print-teacher-name-space
  %center.print-teacher-name Welcome #{current_teacher.name} !!

.jump-button-space
  %center= link_to '打刻管理ページ', timecards_path,class:"jump-button"
.jump-button-space
  %center= link_to '学生アカウント作成', students_new_path,class:"jump-button"

.logout-button-space
  %center= link_to 'ログアウト', teacher_logout_path,class:"logout-button" ,method: :delete
