// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 100vh;
  height: 100vh;
}
/*new.html.haml start*/
.new-name-box{
  display:block;
  width: 60vh;
  height:30px;
  margin: auto;
}
.new-title-space{
  width: 100vh;
  height:10vh;
  display: block;
}
.new-title{
  text-align: center;
  margin: auto;
  width: 20vh;
}
.new-number-box{
  display: block;
  width: 60vh;
  height:30px;
  margin: auto;
}
.new-pass-box{
  display: block;
  width:60vh;
  height:30px;
  margin: 0;
}
.new-pass-space{
  display: block;
  width:60vh;
  height:30px;
  margin: 0;
}
error-messages-new{
  display: block;
  width:60vh;
  height:30px;
  margin:auto;
}
.new-main{
  display: block;
  width:60vh;
  height:70vh;
  margin: auto;
  font-size:20px;
}
.new-text{
  display: inline-block;
  width:30vh;
  height: 30px;
  text-align: center;
}
.new-type{
  display: inline-block;
  width: 30vh;
  height: 30px
}
.new-create-button{
  width: 30vh;
  margin: auto;
}
.new-create-button-space{
  display:block;
  width: 100vh;
  height:20vh;
  margin: auto;
}

/*new.html.haml end*/

/*show.html.haml start*/


/*show.html.haml end*/
