// Place all the styles related to the student_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-title{
    height:10vh;
    display: block;
    text-align: center;
    margin: auto;
    color: #fd9540;
    width: 630px;
    font-size:40px;
}

.new-edu-number{
  margin: auto;

}

.new-password{
  margin: auto;
}

.new-login-button{
    margin: auto;
    width: 500px;
}

.new-login-button{
    width: 310px;
    margin: auto;

}

.new-button{
  display: block;
  position: absolute;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9540;
  background-color: #fff;
  border: solid 1px #fd9540;
  text-decoration: none;
  &:hover{
    background-color: #fd9540;
    color:#fff;
  }
}