// Place all the styles related to the teacher_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  display: block;
  width: 100%;
  height: 100%;
  margin:0;
}
.title{
  width: 100%;
  height:10vh;
}
h1{
  margin: 0;
}
.alert-danger{
  color:red;
  position: absolute;
  margin-top: 25vh;
  width: 100%;
  text-align:center;
  display: block;
}
.email-form{
  width: 60vh;
}
.height{
}
.typebox{
  display:inline-block;
  background-color: rbga(255,255,255,0.8);
  font-size: 20px;
  width:28vh;
  height: 40px;
  text-align: right;

}
.text{
  display: inline-block;
  font-size: 20px;
  width:20vh;
  height: 46px;
  margin: auto;
  text-align: center;
}
.main{
  display: block;
  width: 60vh;
  height: 20vh;
  margin: auto;
}
.login-button-space{
  width: 100%;
}
.login-button{
  display: block;
  margin:auto;
  width: 20vh;
  height: 10vh;
  font-size: 40px;
  &:hover{
    color: #fd9535;
  }
}
