// Place all the styles related to the teacher_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  display: block;
  width: 100%;
  height: 100%;
  margin:0;
}
.alert-danger{
  color:red;
}
.typebox{
  display:inline-block;
  background-color: rbga(255,255,255,0.8);
  font-size: 15px;
  weight:360px;
}
.text{
display: inline-block;
  font-size: 15px;
  weight:180px;
}
.main{
  display: block;
  width: 60vh;
  height: 30vh;
  margin: auto;
}
.login-button{
  display: block;
  margin:auto;
  width: 100%;
  height: 50px;
  &:hover{
    color: #fd9535;
  }
}
