// Place all the styles related to the teacher_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 100%;
  height: 100vh;
  margin:0;
}

.new-title-space{
    height:10vh;
    display: block;
    text-align: center;
    margin: auto;
    color: #fd9540;
    width: 630px;
    font-size:40px;
}

.title-box{
  width: 100%;
  height: 10vh;
}
.title{
  width: 100%;
  height:10vh;
  margin: auto;
}
h1{
  margin: 0;
}
.alert-danger{
  color:red;
  //position: absolute;
  //margin-top: 25vh;
  width: 100%;
  text-align:left;
  display: block;
}
.email-form{
   display:block;
  width: 630px;
  height:60px;
  margin: auto;
}

.pass-form{
   display:block;
  width: 630px;
  height:60px;
  margin: auto;
}

.new_student{
  width: 100%;
  margin: 0;
}
.typebox{
  display: inline-block;
  width: 308px;
  height: 40px;
  border: solid 1px #fd9540;
}
.typebox-pass{
  display: inline-block;
  width: 30vh;
  height:40px;
  font-size:20px;
  text-align: right;
}

.chose-grade{
  display: inline-block;
  width: 30vh;
  height: 46px;
}
.chose-class{
  display: inline-block;
  width: 30vh;
  font-size: 20px;
  height: 46px;
}
.text{
  display: inline-block;
  width:310px;
  height: 60px;
  text-align: center;
}
.main-student-news{
  display: block;
  width: 60vh;
  height: 20vh;
  margin: auto;
}
.login-button-space{
  width: 100%;
}
.create-button-box{
  display: block;
  width: 60vh;
  height: 10vh;
  margin: auto;
}
.create-button{
  weight:25vh;
  height: 10vh;
  margin:auto;
  color: #fd9540;
  font-size: 20px;
}
.pass-box{
  display: block;
  width: 60vh;
  height: 30px;
  margin:auto;
}
.login-button{

  line-height: 50px;
  bottom: 10px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
