// Place all the styles related to the timecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Start index.html.haml
.page-name-printer-space{
  display: block;
  width: 300px;
  height: 50px;

}
.index-page-name{
  font-size: 40px;
  color: #fd9535;
}

.index-teachers-name-space{
  display: block;
  width: 300px;
  height: 80px;
  margin: auto;

}
.index-teachers-name{
  position:absolute;
  top:90px;
}
.index-student-name{
  text-decoration: none;
  


}
.index-back-to-top{
  display: block;
  position: absolute;

}
.index-teachers-name{
  position:absolute;
  top:90px;
}
.index-student-name{
  text-decoration: none;
  


}
.index-back-to-top{
  display: block;
  position: absolute;

  bottom: 10px;
  left: 7px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
