// Place all the styles related to the timecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


select{
  font-size: 20px;
  border: 1px;
  display: inline-block;
  width: 308px;
  height: 40px;

  border: solid 1px #fd9540;
}
//Start index.html.haml
.page-name-space{
  display: block;
  width: 300px;
  height: 10vh;

}
.index-page-name{
  font-size: 40px;
  color: #fd9535;
}

.index-student-name{
  text-decoration: none;

}
.index-student-name{
  text-decoration: none;
}
.index-make-space{
  display: block;
  height: 40px;
  width: 100%;
}
.index-back-to-top{
  display: block;
  position: absolute;

  line-height: 50px;
  bottom: 10px;
  left: 7px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  text-align: center;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
  //start _list_dtudents
._list_dtudents-check-data{
  text-decoration: none;
  color:#fd9535;
}
._list_dtudents-name-data{
  text-decoration: none;
  color:#fd9535;
}
  //end _list_dtudents
//end index.html.haml

//start -inde_index.html.haml
.student_index-student-name{
  color:#fd9535;
  font-size: 40px;
}
.student_index-make-engraving{
  display: block;
  margin:auto;
  line-height: 50px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9540;
  background-color: #fff;
  border: solid 1px #fd9540;
  text-decoration: none;
  &:hover{
    background-color: #fd9540;
    color:#fff;
  }

}
.student_index-list-space{
  display: block;
  width: 100%;
  height: 420px;
}
.student_index-back-to-top{
  display: block;
  position: absolute;

  line-height: 50px;
  bottom: 10px;
  left: 7px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  text-align: center;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
  //start _list_timecards.html.haml
._list_timecards-state{
  text-decoration: none;
  color:#fd9535;
  display: inline-block;
  width: 134px;
  margin:auto;
}
._list_timecards-list-size{
  display: inline-block;
  width: 134px;
  margin:auto;
}

  //end _list_timecards.html.haml

//end student_index.html.haml
//show.html.haml
  //start _check_timecard.html.haml
._check_timecard-main{
  display: block;
  height:700px;
  width:800px;
  margin:auto;

}
._check_timecard-title-space{
  width: 100%;
  height: 10vh;
}
._check_timecard-picture-title{
  font-size: 40px;
  color:#fd9535;
}
._check_timecard-engraving-space{
}
._check_timecard-space{
  display:block;
  height:100px;
}
._check_timecard-choice{
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  height:50px;
  width: 240px;
  color:#fd9535;
  text-align: center;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
  //end _check_timecard.html.haml

.show-back-to-student-data{
  display: block;
  position: absolute;

  line-height: 50px;
  bottom: 10px;
  left: 7px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  text-align: center;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
//end show.html.haml

//start new.html.haml
.new-title-space{
  display: block;
  width: 100%;
  height:10vh;
}
.new-title{
  font-size: 40px;
  color:#fd9535;
}
.new-type-form{
  display: block;
  margin: auto;
  width: 630px;
}
.new-student-name-space{
  display:block;
}
.new-type-text{
  display: inline-block;
  width:310px;
  height: 60px;
  text-align: center;
}

.new-create-button{
  line-height: 50px;
  bottom: 10px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
.new-create-button-space{
  display:block;
  width: 320px;
  height:40px;
  margin: auto;
}
.new-back-to-students{
  display: block;
  position: absolute;

  bottom: 10px;
  line-height: 50px;
  left: 7px;
  font-size: 20px;
  height:50px;
  width: 240px;
  color:#fd9535;
  text-align: center;
  background-color: #fff;
  border: solid 1px #fd9535;
  text-decoration: none;
  &:hover{
    background-color: #fd9535;
    color:#fff;
  }
}
.facker{
  display: block;
    margin: auto;
    line-height: 50px;
    font-size: 20px;
    height: 50px;
    width: 240px;
    color: #fd9540;
    background-color: #fff;
       text-decoration: none;
    &:hover{
      background-color: #fd9535;
      color:#fff;
  }
}

.student_index-report{
    display: block;
    margin: auto;
    line-height: 50px;
    font-size: 20px;
    height: 50px;
    width: 240px;
    color: #fd9540;
    background-color: #fff;
    border: solid 1px #fd9540;
    text-decoration: none;
    &:hover{
      background-color: #fd9535;
      color:#fff;
  }

}
//end new.html.haml
